
# Ports
EUREKA_SERVER_PORT=8761
GATEWAY_SERVER_PORT=8080
USER_SERVICE_SERVER_PORT=8081
PRODUCT_SERVICE_SERVER_PORT=8082
MEDIA_SERVICE_SERVER_PORT=8083
FRONTEND_HOST_PORT=4200

# Service discovery
EUREKA_DEFAULT_ZONE=http://eureka-server:8761/eureka

EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://localhost:8761/eureka

# Databases
USER_MONGODB_URI=mongodb://mongodb_users:27017/usersdb
PRODUCT_MONGODB_URI=mongodb://mongodb_products:27017/productsdb
PRODUCT_MONGODB_DATABASE=productsdb
MEDIA_MONGODB_URI=mongodb://mongodb_media:27017/mediadb
MEDIA_MONGODB_DATABASE=mediadb

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
PRODUCT_KAFKA_CONSUMER_GROUP_ID=product-service-group
PRODUCT_KAFKA_PRODUCER_RETRIES=3
MEDIA_KAFKA_CONSUMER_GROUP_ID=media-service-group

# JWT 
JWT_SECRET=your-256-bit-secret-key-here-change-in-prod
JWT_EXPIRATION=86400000

# MinIO 
MINIO_ROOT_USER=change-me
MINIO_ROOT_PASSWORD=change-me
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_URL=http://localhost:9000
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_ACCESS_NAME=change-me
MINIO_ACCESS_SECRET=change-me
MINIO_BUCKET=buy01-media
MEDIA_ORPHAN_MAX_AGE_MINUTES=1
MEDIA_ORPHAN_CLEANUP_FIXED_RATE_MS=60000

# Gateway CORS (comma-separated)
# CORS_ALLOWED_ORIGINS=https://localhost:8443
CORS_ALLOWED_ORIGINS=http://localhost:4200

# Frontend runtime config
# FRONTEND_API_BASE_URL=https://localhost:8443
FRONTEND_API_BASE_URL=http://localhost:4200
