# Maven
target/
*.class
*.jar

# IDE
.idea/
*.iml
.vscode/

# Angular
node_modules/
dist/

# Environment
.env
*.env

# Local TLS material
certs/
*.p12

# Logs
logs/
*.log

docker-compose.override.yml

local-traefik-config.yml

docker-compose.txt